<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Sct.gamebone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:name="com.Sct.gamebone.framwork.GameApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.Sct.gamebone.activity.LoadingActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Sct.gamebone.activity.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.Sct.gamebone.activity.GameActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.Sct.gamebone.activity.HelpActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.Sct.gamebone.activity.SetupActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>